<section class="content">
  <header>
    <h1>Find An Agent</h1>
  </header>

  <main>
    <%= form_for AgentSearch.new do |f| %>
      <fieldset>
        <h3>Are you buying or selling?</h3>
        <%= radio_button_tag(:txn_side, "buying")  %>
        <%= label_tag "Buying" %>
        <%= radio_button_tag(:txn_side, "selling") %>
        <%= label_tag "Selling" %>
      </fieldset>
      <fieldset>
        <h3>What type of property?</h3>
        <%= radio_button_tag(:prop_type, "sfh") %>
        <%= label_tag "Sfh" %>
        <%= radio_button_tag(:prop_type, "condo") %>
        <%= label_tag "Condo" %>
        <%= radio_button_tag(:prop_type, "townhome") %>
        <%= label_tag "Townhome" %>
        <%= radio_button_tag(:prop_type, "mobile") %>
        <%= label_tag "Mobile" %>
        <%= radio_button_tag(:prop_type, "land") %>
        <%= label_tag "Land" %>
      </fieldset>
      <fieldset>
        <h3>What price range?</h3>
        <% AgentSearch::PRICE_RANGES.each do |range, desc| %>
          <%= check_box_tag range %>
          <%= label_tag desc %>
        <% end %>
      </fieldset>
      <fieldset class="actions">
        <input type="submit" value="Search"/>
      </fieldset>
    <% end %>
  </main>

  <footer>
    <p>HomeLight Interview Kit &copy; 2017</p>
  </footer>
</section>